{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Mapa{% endblock title %}

{% block scripts %}
<script>
    $(document).ready(function(){
                
        if ($("#id_territorio").val() != '') {
            $("#submitButton").prop("disabled",false);
        }else{
            $("#submitButton").prop("disabled",true);
        }

        $("#id_municipio").change(function () {
            if ($(this).val() == '') {
                $("#submitButton").prop("disabled",true);
            }
            if ($("#id_territorio").val() == '') {
                $("#submitButton").prop("disabled",true);
            }
            var url = $("#dataForm").attr("data-cities-url");  // get the url of the `load_cities` view
            var municipioId = $(this).val();  // get the selected country ID from the HTML input
            $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                    data: {
                    'municipio': municipioId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#submitButton").prop("disabled",true);
                        $("#id_territorio").html(data);  // replace the contents of the city input with the data that came from the server
                    }
                });
            });
            $("#id_territorio").change(function () {                
                if ($(this).val() != '') {
                    $("#submitButton").prop("disabled",false);
                }else{
                    $("#submitButton").prop("disabled",true);
                }
            });


        });

  </script>
<script>
    $(document).ready(function(){
        const ctx = document.getElementById('myChart').getContext('2d');
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        document.getElementById('myChart').width = 200;
        document.getElementById('myChart2').width = 200;
    
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for item in qs %}'{{item.year}}',{% endfor %}],
                datasets: [{
                    label: '{{variable}}',
                    data: {{data}} ,
                    backgroundColor: [
                        
                        'rgba(0, 154, 64, 0.2)'
                    ],
                    borderColor: 'rgba(100, 99, 132, 1)',
                    borderWidth: 1,
                    radius:0.2,
                    
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
         };        
        const myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: [{% for item in fechas %}'{{item}}',{% endfor %}],
                datasets: [{
                    label: '{{variable}}',
                    data: {{datos}} ,
                    backgroundColor: 'rgba(79,142,204, 0.6)',
                    borderColor: 'rgba(200, 200, 200, 0.75)',
                    hoverBorderColor: 'rgba(200, 200, 200, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
    </script>
    

{% endblock scripts %}

{% block content %}
<h1 class="headers">Dashboard</h1>
<hr/>
<br/>

<form method="POST" id="dataForm" data-cities-url="{% url 'territorios:ajax_load_cities' %}" >
    {% csrf_token %}    
    {{territorioForm|crispy}}
    {{datoForm|crispy}}
    {{form |crispy}}
    <button id="submitButton" type="submit" class="btn btn-primary mt-3">Buscar</button>
</form>
{% if qs %}    
    <!-- Add Charts -->
    <div class="graphBox" style="grid-template-columns: 1fr 1fr 1fr 1fr;">                
        <div class="box etiqueta">
            <h3 class="headersBox">Municipio: {{territorioObj.municipio.name}}</h3>
            <h3 class="headersBox">Territorio: {{territorioObj}}</h3>            
        </div>                              
        <div class="box etiqueta">
            <h3 class="headersBox">{{variableName}} mínimo: <br/><br/>{{minimo}} </h3>            
        </div>                        
        <div class="box etiqueta">
            <h3 class="headersBox">{{variableName}} máximo: <br/><br/>{{maximo}} </h3>
        </div>        
        <div class="box etiqueta">
            <h3 class="headersBox">{{variableName}} promedio: <br/><br/> {{promedio}}</h3>
        </div>                          
    </div>
    <div class="graphBox">                               
        <div class="box"><canvas id="myChart"></canvas></div>
        <div class="box"><canvas id="myChart2"></canvas></div>
    </div>
{% else %}
    <div class="alert alert-info mt-3" role="alert">
        No hay datos para mostrar. Seleccione un rango de tiempo adecuado.
    </div>
{% endif %}

    
    
{% endblock content %}