{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Charts{% endblock title %}

{% block scripts %}
<script>

    $(document).ready(function(){
                
        if ($("#id_territorio").val() != '') {
            $("#submitButton").prop("disabled",false);
        }else{
            $("#submitButton").prop("disabled",true);
        }

        $("#id_municipio").change(function () {
            if ($(this).val() == '') {
                $("#submitButton").prop("disabled",true);
            }
            if ($("#id_territorio").val() == '') {
                $("#submitButton").prop("disabled",true);
            }
            var url = $("#dataForm").attr("data-cities-url");  // get the url of the `load_cities` view
            var municipioId = $(this).val();  // get the selected country ID from the HTML input
            $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                    data: {
                    'municipio': municipioId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#submitButton").prop("disabled",true);
                        $("#id_territorio").html(data);  // replace the contents of the city input with the data that came from the server
                    }
                });
            });
            $("#id_territorio").change(function () {
                console.log($(this).val())
                if ($(this).val() != '') {
                    $("#submitButton").prop("disabled",false);
                }else{
                    $("#submitButton").prop("disabled",true);
                }
            });


        });

  </script>
<script>
    $(document).ready(function(){
        const ctx = document.getElementById('myChart').getContext('2d');
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        document.getElementById('myChart').width = 200;
        document.getElementById('myChart2').width = 200;
    
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for item in qs %}'{{item.year}}',{% endfor %}],
                datasets: [{
                    label: '{{variable}}',
                    data: {{data}} ,
                    backgroundColor: [
                        
                        'rgba(0, 154, 64, 0.2)'
                    ],
                    borderColor: 'rgba(100, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: [{% for item in qs %}'{{item.year}}',{% endfor %}],
                datasets: [{
                    label: '{{variable}}',
                    data: {{data}} ,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
    </script>
    

{% endblock scripts %}

{% block content %}

<form method="POST" id="dataForm" data-cities-url="{% url 'territorios:ajax_load_cities' %}" novalidate>
    {% csrf_token %}    
    {{territorioForm|crispy}}
    {{datoForm|crispy}}
    {{form |crispy}}
    <button id="submitButton" type="submit" class="btn btn-primary mt-3">Search</button>
</form>
{% if qs %}
<canvas id="myChart" width="100" height="100"></canvas>

<div class="graphBox">
  <div class="box"><canvas id="myChart"></canvas> </div>
  <div class="box"><canvas id="myChart2"></canvas> </div>
</div> 
<canvas id="myChart"></canvas>
{% endif %}

    
    
{% endblock content %}