{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'territorios/upload.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Cargar Territorio
{% endblock title %}

{% block content %}
<h1 id="cargarArchivo">Carga de Archivos</h1>
<h2 id="cargarArchivo2">Este módulo se encarga de cargar los datos correspondientes de
    los territorios según el municipio al que pertenecen.</h2>
<h5 style="color:#ad28af">El nombre debe ser el del territorio
    y en caso de tener espacios deben estar separados por guión bajo. Ej: El_totumal</h5>
<h5 style="color:#ad28af"> Cargar un sólo archivo.  </h5>
<h5 style="color:#ad28af">Sólo se admiten archivos en formato .csv </h5>
<hr>
<br>
<form action="" method="POST" id="my-form">
    {% csrf_token %}
    {{form|crispy}}    
</form>
<br>
<div id="alert-box"></div>
<form id="my-dropzone" class="dropzone dz">
    {% csrf_token %}
    <div class="fallback">
        <input name="file" type="file" /> 
    </div>
</form>


<button id="upload-btn" type="submit" class="btn btn-success mt-3">Guardar</button>
<button onClick="window.location.reload();" type="button" class="btn btn-outline-primary mt-3">Cargar Otro</button>



{% endblock content %}

