{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Cambiar Contraseña{% endblock title %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'perfiles/style.css' %}">
{% endblock styles %}

{% block content %}

<h1 class="headers mt-5">Cambiar Contraseña</h1>
<a href="{% url 'perfiles:mi-perfil' %}" class="btn btn-dark mt-3"> <i class="fa fa-arrow-left me-2"></i>Volver</a>
<div class="bloque">
<form action="" method="POST" id="dataForm">
    <div class="form-row">    
      {% csrf_token %}
      {{form|crispy}}
    </div>
<button type="submit" class="btn btn-success mt-3 mb-3">Actualizar Contraseña</button>
</form>
</div>

{% endblock content %}