{% load static %}

{% url 'home' as path_to_home %}
{% url 'news' as path_to_news %}
{% url 'reports' as path_to_reports %}
{% url 'territorios:reports' as path_to_territorios_reports %}
{% url 'territorios:clima' as path_to_upload %}
{% url 'territorios:charts' as path_to_charts %}
{% url 'territorios:statistics' as path_to_statistics %}
{% url 'territorios:map' as path_to_map %}
{% url 'profiles:my-profile' as path_to_my_profile %}
{% url 'municipios:maiz' as path_to_municipios %}
{% url 'municipios:reports' as path_to_municipios_reports %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(6, 43, 17, 0.9);">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path_to_home}}"><img src="{% static 'logo.png' %}" class="logo-sm"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">        
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_home %}active{% endif %}" href="{{path_to_home}}">Inicio</a>
        </li>             
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_map %}active{% endif %}" href="{{path_to_map}}">Mapa</a>
        </li>     
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          {% comment %} <a class="nav-link {% if request.path == path_to_statistics %}active{% endif %}" href="{{path_to_statistics}}">Estadísticas</a> {% endcomment %}
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_upload %}active{% endif %}" href="{{path_to_upload}}">Clima</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_municipios %}active{% endif %}" href="{{path_to_municipios}}">Maíz</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_charts %}active{% endif %}" href="{{path_to_charts}}">Gráficos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Reportes
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{path_to_municipios_reports}}">Cultivo</a>
            <a class="dropdown-item" href="{{path_to_territorios_reports}}">Clima</a>            
          </div>
        </li> 
        {% endif %}        
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_news %}active{% endif %}" href="{{path_to_news}}">Noticias</a>
        </li>             
      </ul>
    </div>

    {% if request.user.is_authenticated %}
      <div class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{request.user.profile.foto.url}}" class="avatar-sm">  &nbsp;  
          <span style="color:wheat;">{{request.user}}</span>
        </div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item {% if request.path == path_to_my_profile %} active{% endif %}" href="{{path_to_my_profile}}">Mi Perfil</a></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>          
        </ul> 
      </div>
    {% else %}
      <a class="nav-link" href="{% url 'login' %}" style="color:darkseagreen;" >Iniciar Sesión</a>
    {% endif %}
    
  </div>
</nav>