.not-visible{
    display: none;
}

.dz{
    border-style: dashed;
    border-radius: 5px;
    border-color: #ddd;
    transition:  .5s;
}

.dz:hover{    
    
    background: rgb(246,246,246);
    transition-delay: 7ms;
    
}

.avatar-sm{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.avatar-big{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.logo-sm{
    height: 30px;
    width: auto;
}

.graphBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px
}

.box{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    box-shadow: #222;
    border-radius: 20px;

}

