.not-visible{
    display: none;
}

.dz{
    border-style: dashed;
    border-radius: 5px;
    border-color: #ddd;
    transition:  .5s;
}

.dz:hover{    
    
    background: rgb(246, 246, 246);
    transition-delay: 7ms;
    
}

.avatar-sm{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.avatar-big{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.logo-sm{
    height: 30px;
    width: auto;
    border-radius: 50%;
}

.graphBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px
}

.box{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    box-shadow: #222;
    border-radius: 20px;

}

.map{
    position: relative;
    width: 100%;
    display: flex;
    grid-template-columns: 2fr 1fr;
    
}

.mapitem{
    position: relative;    
    padding: 7px;
    box-shadow: #222;
    border-radius: 20px;

}

#home{
    background: url('crops.jpeg') no-repeat center center fixed;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    
}

.landing-text {
	z-index: 100;
	display: grid;
	text-align: center;
	vertical-align: middle;
    background: rgba(6, 43, 17, 0.85);
    padding: 15px 15px 70px 15px;
    border-radius: 8px;
    width: 45%;

}

.landing-text h1{
    font-size: 500%;
}

.landing-text h3{
    font-size: 200%;

}

.landing-text h1, h3{
    font-weight: 700;
    color: #aed790;

}

.padding{
    padding: 80px 0;
}

.padding img{
    width: 100%;
}

#fixed{
    background: url('crops4.jpg') no-repeat center center fixed;    
    height: 60%;
    width: 100%;
    position: relative;
    background-size: cover;
}

footer{
    width: 100%;
    background-color: rgba(6, 43, 17, 0.9);
    padding: 2%;
    color: #aed790;
}

footer .row{
    padding: 25px;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: white;
}

.fa:hover{
    color: #aed790;
}

.icon{
    max-width: 200px;
}

.navbar-light .navbar-nav .nav-link {
    color: wheat;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(218,255,13,0.85);
}

.navbar-nav li{
    font-size: 15px;
}

.labels{
    background-color: #dbdbdb4f;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #aed790;
    border-radius: 2%;    
}

.labels p{
    font-size: 15px;        
}

.labels i{
    font-size: 15px;
    padding: 7px 12px 7px 7px;
    
}